::placeholder {
    color: black
}

.password_form {
    overflow: hidden;
    background-color: white;
}

.p_form {
    display: flex;
    justify-content: center;
}

.p_form input {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 400px;
    border: 3px solid black;
    font-size: larger;
    height: 30px;
    border-radius: 5px;
    font-family: 'BeirutDisplayWeb', HelveticaNow, Helvetica, sans-serif;
}

.p_form button {
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
    background-color: grey;
    width: 200px;
    margin-left: 100px;
    font-family: 'BeirutDisplayWeb', HelveticaNow, Helvetica, sans-serif;
    font-size: larger;
    border: 1px solid grey;
    border-radius: 5px
}

.p_form button:hover {
    cursor: pointer
}